<!-- <app-header></app-header> -->

<div class="login backround-blue-and-red">
  <h1>Anmelden</h1>
  <table class="example-full-width" cellspacing="0">
    <tr>
      <td><mat-form-field class="example-full-width">
          <mat-label>Benutzername</mat-label>
          <input matInput>
        </mat-form-field></td>
      <td><mat-form-field class="example-full-width">
          <mat-label>Passwort</mat-label>
          <input matInput>
        </mat-form-field></td>
    </tr>

    <button class="register"(click)="register()" >Regestrieren</button><button class="confirm-login" (click)="login()">Einloggen</button>

  </table>

</div>