section {
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: rgb(253, 247, 247);

    // app-header {
    //     // height: 80px; // z. B. feste Höhe für den Header
    //     // flex-shrink: 0;
    // }

    .main-contant {
        flex: 1; // nimmt die restliche Höhe ein
        display: flex;
        overflow: hidden;
        position: relative;

        .side-opened-orders,
        .open-orders,
        .orders {
            height: 100%;
            padding: 20px;

        }

        .side-opened-orders {
            width: 10%;
            background-color: lightgray;
        }

        .open-orders {
            width: 65%;
            height: 100%;
            background-color: white;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;



            @media screen and (max-width:620px) {
                display: none;

                &.mobile-view-open-orders {
                    width: 100%;
                    display: block;
                }
            }


            @media screen and (max-height:585px) {
                overflow: auto;
                height: calc(100vh - 100px);
                display: block;

            }
        }

        .orders {
            width: 50%;
            background-color: lightgrey;

            &.mobiel-View {
                display: none;
            }

            @media screen and (max-width:620px) {
                width: 100%;
                height: calc(100vh - 80px);
            }



        }
    }
}