<section>
    <button (click)="back()">Schließen</button>
    <div class="imprint">
        <h2>Impressum</h2>
        <span> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fugit reprehenderit blanditiis ab atque soluta
            sunt
            dignissimos expedita placeat! Laboriosam nam facilis corporis vitae, minima fugiat. Culpa laboriosam laborum
            error et. </span>
    </div>
    <div class="data-protection">
        <h2>Datenschutz</h2>
        <span>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Officiis eligendi deleniti laboriosam sit earum
            optio temporibus quo quibusdam pariatur itaque nemo, quaerat saepe maxime maiores! Aspernatur optio dolor
            est obcaecati.
        </span>

    </div>


</section>