.not-deleat {
    background-color: rgb(50, 223, 50);
    padding: 10px 30px;
    border-radius: 15px;
    cursor: pointer;
    transition: all ease-in-out 0.20s;
    font-weight: 800;

    &:hover {
        background-color: lightgreen;

    }

}

.delete {
    background-color: lightcoral;
    padding: 10px 30px;
    border-radius: 15px;
    cursor: pointer;
    transition: all ease-in-out 0.20s;
    font-weight: 800;

    &:hover {
        background-color: red;

    }
}