/* You can add global styles to this file, and also import other style files */
body {
    margin: 0;
    background-color: rgb(128, 125, 125);

    .margin-l-and-r {
        margin-left: 50px;
        margin-right: 50px;
    }

    .backround-blue-and-red {
        background: linear-gradient(154deg,
                blue 0%,
                blue 35%,
                purple 50%,
                red 75%,
                red 100%);
    }

    .color-blue-and-red {
        background: linear-gradient(154deg,
                blue 0%,
                blue 35%,
                purple 50%,
                red 75%,
                red 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;

        // Optional für neuere Browser:
        background-clip: text;
        color: transparent;
    }


    .auftrag {
        height: auto;
        width: 100%;
        background-color: lightgrey;
        border: 1px solid #383636;
        border-radius: 10px;
        margin-top: 20px;
        padding: 10px;
        box-sizing: border-box;
        box-shadow: 0 6px 30px rgb(255, 255, 255);
        display: flex;
        flex-direction: column;
        gap: 10px;

        &:hover {
            cursor: pointer;
        }

        &.gelesen {
            background-color: #e6ffe6; // hellgrün
            border-color: #b6e6b6;
        }

        &.ungelesen {
            background-color: #ffe6e6; // hellrot
            border-color: #e6b6b6;
        }

        &.blinking-orange {
            animation: blinkOrange 1s infinite;
        }


    }
}

@keyframes blinkOrange {
    0% {
        background-color: orange;
    }

    50% {
        background-color: wheat;
    }

    100% {
        background-color: orange;
    }
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}