.order {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    h1 {
        font-size: clamp(35px, 5vw, 50px);
        padding: 30px;

    }

    p {
        font-size: 20px
    }

    .oder-list {
        display: flex;
        flex-direction: column;
        gap: 10px;

        p {
            font-size: 20px;

        }
    }

    .mobiele-button {
        background-color: lightblue;
        height: 40px;
        width: 40px;
        border-radius: 50%;
        position: absolute;
        top: 10px;
        right: 10px;
        cursor: pointer;
        font-weight: bold;
        border: none;
        transition: 0.2s ease-in-out;

        &:hover {
            border: 2px solid;
            border-style: dashed;
            transition: 0.2s ease-in-out;

        }
    }
}

.no-order-text {
  font-size: clamp(25px, 4vw, 35px);
  text-align: center;
  padding: clamp(20px, 5vw, 30px);
}
